.pagination {
    display: flex;
    justify-content: center;

    &__title {
        font-family: $font-default;
        color: $color-gray-100;
        font-weight: 700;
        @include resize(font-size, $h1-fs, $h2-fs);
        @include resize(line-height, $h1-lh, $h2-lh);
    }

    &__titleDot {
        pointer-events: none;
        font-family: $font-default;
        font-weight: 700;
        @include resize(font-size, $b1-fs);
        @include resize(line-height, $b1-lh);
    }

    &__container {
        position: relative;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include resize(gap, 8);
        @include resize(padding-top, 16);
        @include resize(padding-bottom, 80);
        @include resize(padding-inline, 80, 16);
        @include max-width;
    }

    &__dot {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        border: 1px solid $color-primary-200;
        border-radius: 1000px;
        color: $color-gray-100;
        font-weight: 700;

        transition: 0.25s ease-in-out;

        @include resize(width, 40);
        @include resize(height, 40);
        @include resize(font-size, $b1-fs);
        @include resize(line-height, $b1-lh);

        &.active {
            pointer-events: none;
            background-color: $color-primary-200;
            color: $color-white;
        }

        &:hover {
            opacity: 0.8;
            background-color: $color-primary-200;
            color: $color-white;
        }

        &:focus-visible {
            outline: 2px solid $color-focus;
            outline-offset: 2px;
        }
    }
    &__arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;

        transition: 0.25s ease-in-out;

        @include resize(min-width, 40);
        @include resize(min-height, 40);

        img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover {
            filter: brightness(0) saturate(100%) invert(22%) sepia(91%) saturate(1562%) hue-rotate(331deg)
                brightness(103%) contrast(112%);
        }

        &:focus-visible {
            border-radius: 1000px;
            outline: 2px solid $color-focus;
            outline-offset: 2px;
        }
    }

    .carouselDefault {
        --slide-spacing: 1%;
        width: 100%;
        margin: 0;
        @include resize(--slide-size, 16.6%, 33%);
        @include resize(max-width, 300, 150);
        @include res-md {
            --slide-size: 33%;
            max-width: 150px;
        }
        &__slide {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__buttons {
            display: none;
        }
        &__dots {
            display: none;
        }
        &__viewport {
            @include resize(padding, 4);
        }
    }
}

.pagination[data-count="1"] .carouselDefault {
    --slide-size: 100%;
    @include resize(max-width, 120);
}
.pagination[data-count="2"] .carouselDefault {
    --slide-size: 50%;
    --slide-spacing: 3%;
    @include resize(min-width, 130);
    @include resize(max-width, 130);
}
.pagination[data-count="3"] .carouselDefault {
    --slide-size: 33%;
    @include resize(min-width, 200, 150);
    @include resize(max-width, 200);
}
.pagination[data-count="4"] .carouselDefault {
    --slide-size: 25%;
    @include resize(max-width, 250);
}
.pagination[data-count="5"] .carouselDefault {
    --slide-size: 20%;
    @include resize(max-width, 300);
}
