#home {
    position: relative;
    @include resize(margin-bottom, -100);

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        
        &__safari {
            position: relative;
            background-color: #000000;

            &::after {
                content: "";
                z-index: 0;
                position: absolute;
                inset: 0;
                background: linear-gradient(180deg, rgba(32, 23, 14, 0) 50%, rgba(32, 23, 14, 1) 100%);
            }
        }

        &__light {
            position: relative;
            background-color: rgba(32, 23, 14, 1);
        }
    }

    .bg_natal {
        position: relative;
        background-image: url("/assets/background-natal.webp");
        background-size: contain;
        background-color: #77201c;
        z-index: 1;

        .bg_flocoNeve {
            position: absolute;
            background: url("/assets/neve.webp") no-repeat center center;
            background-size: contain;
            animation: floating 2s ease-in-out infinite;
            @include resize(left, 0);
            @include resize(top, 60);
            @include resize(width, 140);
            @include resize(height, 140);
            aspect-ratio: 1/1;

            @include res-md {
                display: none;
            }
        }

        .bg-item--flocoNeve0 {
            @include resize(left, -30);
        }

        .bg-item--flocoNeve1 {
            @include resize(left, -20);
            @include resize(top, 165);
            @include resize(width, 95);
            @include resize(height, 95);
        }

        .bg-item--flocoNeve2 {
            @include resize(left, 44);
            @include resize(top, 140);
            @include resize(width, 100);
            @include resize(height, 100);
        }
    }
}
