.formDefault {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  @include resize(row-gap, 16);

  &__honeypot {
    position: relative;
    overflow: hidden;
    max-height: 0;
  }

  &__btnContainer {
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    @include resize(gap, 24, 12);
    @include resize(margin-top, 16);
    @include resize(margin-bottom, 8);

    & ~ .checkBoxDefault {
      width: 100%;
    }
  }

  &__resp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  &__responseSuccess,
  &__responseError {
    font-weight: 600;
    color: $color-gray-100;
    @include resize(padding-top, 16, 8);
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
  }

  &__responseError {
    color: $color-error;
  }

  .w-25 {
    width: calc(25% - 16px);
    @include res-md {
      width: 100%;
    }
  }
  .w-50 {
    width: calc(50% - 16px);
    @include res-md {
      width: 100%;
    }
  }
  .w-75 {
    width: calc(75% - 16px);
    @include res-md {
      width: 100%;
    }
  }
  .w-100 {
    width: 100%;
  }
}
