.podium {
    position: relative;
    overflow: hidden;
    @include resize(padding-top, 105, 60);
    background-image: url('/assets/background-podium.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__imgContainer {
        position: relative;
        z-index: 1;
        @include resize(width, 960, 95%);
        margin-inline: auto;
        transition: 0.45s ease-in-out;

        & img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
            transition: 0.45s ease-in-out;
        }
       
    }

    &__imgProducts {
        z-index: 2;
        @include resize(max-width, 598, 298);
        @include resize(height, 220, 150);
        object-fit: cover !important;
        object-position: top !important;
        margin-inline: auto !important;
        @include resize(margin-bottom, -70, -55);

    }

    &__container {
        @include resize(max-width, 1266, 100%);
        @include resize(padding-inline, 0, 15);
        margin-inline: auto;
    }
}