$time: 1.56s;

.podium {
    position: relative;
    z-index: 2;
    @include resize(padding-top, 62, 40);
    @include resize(padding-bottom, 72, 120);
    background-image: url('/assets/background-podium.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: '';
        position: absolute;
        @include resize(top, 0,-49);
        @include resize(right, 0);
        @include resize(width, 289, 100%);
        @include resize(height, 185, 120);
        background-image: url('/assets/mais-matos-natalinos-4.webp');
        background-repeat: no-repeat;
        @include resize(background-size, contain, cover);
        background-position: right;
        z-index: 4;

        @include res-md {
            background-image: url('/assets/festin-natal-mobile.webp');
            background-position: center;
        }
    }

    &::before {
        content: '';
        position: absolute;
        @include resize(bottom, 0,-49);
        @include resize(left, 0);
        @include resize(width, 289, 100%);
        @include resize(height, 185, 120);
        background-image: url('/assets/mais-matos-natalinos-2.webp');
        background-repeat: no-repeat;
        @include resize(background-size, contain, cover);
        background-position: left;
        z-index: 4;

        @include res-md {
            background-image: url('/assets/festin-natal-mobile.webp');
            background-position: center;
        }
    }

    &__buttonCard {
        @include resize(width, 100%);
    }

    &__cardCarousel {
        background: #1E271B;
        @include resize(padding, 24);
        border-radius: 8px;
    }

    &__imageCardCarousel {
        @include resize(width, 100%);
        @include resize(height, 220);
        object-fit: contain;
    }

    &__cardCarrosselContainer_image {
        @include resize(margin-top, 20);
        @include resize(margin-bottom, 20);
    }
    
    &__cardCarousel_title {
        @include resize(font-size, 16, 14);
        @include resize(line-height, 24);
        font-weight: 700;
        color: #fff;
        text-align: center;
        @include resize(margin-bottom, 12);
    }

    &__buttonCard {
        cursor: pointer;
        @include resize(width, 100%);
        @include resize(max-width, 100%);
        background: #D10000;
        @include resize(padding-inline, 32,16);
        @include resize(line-height, 20);
        @include resize(height, 40);
        @include resize(margin-top, 25, 16);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        z-index: 1;

        & span {
        @include resize(font-size, 14);
        @include resize(line-height, 20);
        text-transform: uppercase;
        font-weight: 500;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            @include resize(height, 100%);
            display: block;
            background-image: url('/assets/btn-hover.webp');
            background-repeat: no-repeat;
            background-position: bottom;
            transition: 0.3s ease-in-out;
            z-index: 0;
            transform: translateY(50px);
        }

        &::after {
            @include resize(bottom, 0);
            @include resize(left, 0);
        }

        &::before {
            @include resize(top, 0);
            @include resize(right, 0);
            transform: rotate(-180deg) translateY(50px);
        }

        &:hover::after {
            transform: translateY(0);
        }

        &:hover::before {
            transform: rotate(-180deg) translateY(0);
        }
    }
    .cardDefault__button {
        @include resize(max-width, 100%);
    }

    .carouselDefault {
        @include resize(--slide-size, 300, 95%);
        @include resize(--slide-spacing, 8);

        .carouselDefault__button {
            max-width: 100%;
            border-color: #fff;
            &:hover {
                border-color: gold;
                background: transparent;
            }
        }

        .carouselDefault__button--next {
            @include resize(right, -60, -0);
        }
        .carouselDefault__button--prev {
            @include resize(left, -60, -0);
        }
    }
    .podiumModalContent__description {
        @include resize(font-size, 14);
        @include resize(line-height, 24, 20);
        text-transform: uppercase;
        color: #ffffff;
    }

    &__carrossel_container {
        @include resize(max-width, 600, 100%);
    }

    &__selo {
        @include resize(width, 235, 180);
        @include resize(height, 399, 313);
        @include resize(margin-top, 24);
        @include resize(margin-bottom, 24);
    }
 
    &__grid {
        display: flex;
        flex-wrap: wrap;
        @include resize(justify-content, space-between, center);
        align-items: center;
    }

    &__container {
        @include resize(max-width, 1100, 100%);
        @include resize(padding-inline, 0, 15);
        margin-inline: auto;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            @include resize(width, 289, 100%);
            @include resize(height, 185, 99);
             background-image: url('/assets/mais-matos-natalinos-3.webp');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            z-index: -1;

            @include res-md {
                display: none;
            }
        }
    }
}

.podiumModalContent {
    &__image {
        @include resize(width, 100%);
        @include resize(height, 100%);
        @include resize(max-height, 367);
        object-fit: contain;
        @include resize(margin-top, 16);
        @include resize(margin-bottom, 24);
    }
}