.tips {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  @include resize(padding-inline, 144, 16);
  @include resize(padding-bottom, 260, 340);

  &__highlightCard {
    background: linear-gradient(90deg, #FFE572 0%, #E3BE34 50%, #FFE572 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    @include resize(height, 28);
    @include resize(width, 112);
    @include resize(font-size, 12);
    @include resize(margin-inline, auto);
    color: #090909;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__ContainerCardImage {
    @include resize(width, 100%);
    @include resize(height, 220, auto);
    aspect-ratio: 220/180;
    @include resize(margin-top, 12);
    @include resize(margin-bottom, 15);
    overflow: hidden;
    border-radius: 6px;

    .imgDefault__img {
      transform: scale(1);
      transition: 0.5s ease-in-out;
    }
  }

  .buttonLink { 
    cursor: pointer;
    @include resize(width, 100%);
    @include resize(max-width, 169);
    background: #D10000;
    @include resize(padding-inline, 32,16);
    @include resize(margin-inline, 0, auto);
    @include resize(line-height, 20);
    @include resize(height, 40);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include res-md {
      display: none;
    }

    & span {
      @include resize(font-size, 14);
      @include resize(line-height, 20);
      text-transform: uppercase;
      font-weight: 500;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      @include resize(height, 100%);
      display: block;
      background-image: url('/assets/btn-hover.webp');
      background-repeat: no-repeat;
      background-position: bottom;
      transition: 0.3s ease-in-out;
      z-index: 0;
      transform: translateY(50px);
    }

    &::after {
      @include resize(bottom, 0);
      @include resize(left, 0);
    }

    &::before {
      @include resize(top, 0);
      @include resize(right, 0);
      transform: rotate(-180deg) translateY(50px);
    }

    &:hover::after {
      transform: translateY(0);
    }

    &:hover::before {
      transform: rotate(-180deg) translateY(0);
    }
  }
     
  &__cardCarousel {
    position: relative;
    display: flex;
    @include resize(width, 100%);
    @include resize(max-width, 100%);
    background-image: url('/assets/background-card-blog.webp');
    @include resize(background-size, cover, contain);
    background-position: top;
    background-repeat: no-repeat;
    aspect-ratio: 331 / 420;
    @include resize(padding, 23, 32);
    flex-direction: column;

    &:hover {
      .imgDefault__img {
        transform: scale(1.2);
        transition: 0.3s ease-in;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 125px 127px 0 0;
      box-shadow: 0 0 50px #fed33f;
      z-index: -1;
      transform: scale(0);
      transition: 0.3s ease-in;
    }

    &:hover::after {
      transform: scale(0.92);
    }
  }

  &__contentCard {
    @include resize(height, 120, auto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cardCarousel_infos {
    position: absolute;
    @include resize(bottom, 30);
  }

  &__cardCarousel_title {
    color: #fff;
    @include resize(font-size, 16);
    @include resize(line-height, 130%);
  }

  &__cardCarousel_infos {
    color: rgba(255, 255, 255, 0.722);
    @include resize(font-size, 14);
    @include resize(line-height, 130%);
    font-weight: 400;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    @include max-width(1266);
    @include resize(flex-direction, row, column);
    @include resize(gap, 40, 0);
  }

  &__infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include resize(gap, 32, 16);
    @include resize(max-width, 385, 100%);

    @include res-md {
      align-items: center;
    }
  }

  &__ContainerCarrossel {
    @include resize(width, 100%);
    @include resize(max-width, 740);
  }

  .carouselDefault__viewport {
    @include resize(padding-top, 25);
    @include resize(padding-bottom, 25);
    @include resize(padding-inline, 25, 0);

  }

  .carouselDefault {
    @include resize(--slide-size, 50%, 95%);
    @include resize(--slide-spacing, 18, 2);

    .carouselDefault__button {
      max-width: 100%;
      border-color: #fff;

      &:hover {
        border-color: rgb(255, 215, 0);
        background: transparent;
      }
    }

    .carouselDefault__dots {
      display: none;
      bottom: 0;

      .carouselDefault__dot--selected {
        @include resize(width, 8);
      }

      @include res-md {
        display: flex;
      }
    }

    .carouselDefault__button--next {
      @include resize(right, -40, 0);
    }
    .carouselDefault__button--prev {
      @include resize(left, -40, 0);
    }
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    @include resize(text-align, left, center);
  }

  &__text {
    @include resize(font-size, 32);
    @include resize(line-height, 40);
    @include resize(margin-bottom, 8);
    font-weight: 700;
    background: linear-gradient(180deg, rgb(255, 229, 114) 15.91%, rgb(255, 209, 60) 57.73%, #FFE572 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__textSmall {
    color: $color-white;
    @include resize(font-size, 18, 16);
    @include resize(line-height, 28);
    @include resize(margin-bottom, 27, 15);
    font-weight: 500;
  }

  &__buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 300px;
    background: #ffe02e;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.251);

    &:hover {
      background: #ffcc1a;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    @include resize(max-width, 203);
    @include resize(padding-inline, 32);
    @include resize(padding-block, 10);
  }

  &__button {
    width: 100%;
    white-space: nowrap;
  }

  &__buttonMobile {
    position: relative;
    @include resize(display, none, flex);
    @include resize(top, 20);

    .buttonLink {
      display: flex;
    }
  }

  &__imgContainer {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@keyframes revealText {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}