.prizes {
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  @include resize(padding-top, 0, 120);
  @include resize(padding-inline, 80, 16);
  @include res-md {
    overflow: hidden;
    min-height: unset;
    align-items: center;
    justify-content: flex-start;
  }

  &__bgvideo {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
    mix-blend-mode: exclusion;
  }

  &__container {
    position: relative;
    display: flex;
    z-index: 1;

    justify-content: center;
    width: 100%;
    @include resize(flex-direction, row, column);
    @include resize(gap, 24);
    @include max-width(1266);
    @include res-md {
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__stickyContainer {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include resize(gap, 24, 16);
    @include resize(height, 340, auto);
    @include resize(top, 200);
    @include resize(align-items, flex-start, center);
    @include resize(line-height, 100%);
    @include resize(text-align, left, center);
  }

  &__textContainer {
    position: relative;
    width: 100%;
    @include resize(min-width, 346, unset);
    @include resize(padding-top, 320, 0);
    @include resize(margin-bottom, 30, 0);
  }

  &__lightBg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 828px;
    // mix-blend-mode: soft-light;
    background: url("/images/Ellipse-1.svg") no-repeat center / cover;
    filter: blur(50px);
    @include resize(max-height, 496, 250);
    @include resize(max-width, 828, 200);
  }

  &__text {
    @include resize(font-size, 40, 24);
    @include resize(line-height, 50, 32);
    color: #fff;
    font-weight: 500;

    & span {
      font-weight: 700;
      background-clip: text;
      background: linear-gradient(180deg, #ffe572 15.91%, #ffd13c 57.73%, #ffe572 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  &__balloonContainer {
    position: absolute;
    z-index: 1;
    width: 100%;
    aspect-ratio: 17/44;
    @include resize(max-width, 125);
    @include resize(top, -40, -56);
    @include resize(left, -260, 200);
    animation: floatY 5s infinite ease-in-out;
    &:nth-child(2) {
      animation: floatY 4s infinite ease-in-out;
      animation-delay: 0.5s;
    }
    &--mod {
      transform: rotate(-3.477deg);
      z-index: 2;
      @include resize(top, 56, 40);
      @include resize(left, -220, 245);
      @include resize(max-width, 106);
    }
  }

  &__cardContainer {
    display: flex;
    flex-direction: column;
    z-index: 3;
    @include resize(gap, 0, 16);
    @include resize(width, 100%);
    @include resize(padding-top, 300, 0);
    @include resize(padding-bottom, 0);
    @include res-md {
      display: none;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    width: 100%;
    @include resize(gap, 37, 24);
    @include resize(padding, 16);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
    transform: translateY(0) scale(1);

    &--mod {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    &.hidden-element {
      transform: translateY(-200px) scale(0.6);
      opacity: 0;
      transition:
        transform 0.5s ease,
        opacity 0.5s ease;
      pointer-events: none;
    }
  }

  &__textImg {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__textCardContainer {
    @include resize(max-width, 167, 100);
  }

  &__cardText {
    color: #151514;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
    letter-spacing: -0.06rem;
    white-space: pre;

    & strong {
      font-weight: 900;
    }

    @include res-md {
      font-size: 1rem;
      line-height: 1.2rem;
      letter-spacing: -0.02rem;
    }

    &--mod {
      & strong {
        font-weight: 700;
        letter-spacing: -0.06rem;
      }
    }
  }

  &__imgCarContainer {
    aspect-ratio: 103/37;
    width: 100%;
    @include resize(max-width, unset, 320);
    @include resize(margin-bottom, -20);
    &:nth-child(1) {
      aspect-ratio: 151/92;
      width: 604px;
      height: 368px;
      @include resize(width, 604);
      @include resize(height, 368);
    }
    &:nth-child(3) {
      aspect-ratio: 151/92;
      width: 604px;
      height: 368px;
      @include resize(width, 604);
      @include resize(height, 368);
    }
    &--mod {
      max-width: unset;
      aspect-ratio: 165/59;
      @include resize(margin-bottom, unset);
    }
  }

  &__imgContainer {
    aspect-ratio: 447/253;
    width: 100%;

    @include res-md {
      aspect-ratio: 256/145;
    }

    &--mod {
      width: 100%;
      aspect-ratio: unset;
    }
  }

  &__img {
    overflow: visible;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

    &--primary {
      @include resize(padding, 12);
    }

    &--secondary {
      aspect-ratio: 278 / 257;
      @include resize(max-width, 278);
      @include resize(max-height, 257);
    }
  }

  &__bannerContainer {
    display: none;
    aspect-ratio: 125/177;
    @include resize(width, 375);
    @include resize(height, 531);
    @include resize(max-width, 420);
    @include res-md {
      display: block;
    }
  }
  &__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
