.accessibilityBanner {
    overflow: hidden;
    position: fixed;
    opacity: 0;
    height: 0;
    width: 100%;
    z-index: 15;

    &:focus-visible {
        opacity: 1;
        @include resize(height, 100);
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        text-align: center;
        border: 2px dotted $color-focus;
        font-family: $font-default;
        color: $color-focus;
        font-weight: 600;
        text-decoration: underline;
        @include container;
    }
}
