/* Avenir Next - Bold */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Bold.woff2") format("woff2"), url("/fonts/AvenirNext-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-BoldItalic.woff2") format("woff2"), url("/fonts/AvenirNext-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

/* Avenir Next - DemiBold */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("/fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-DemiBoldItalic.woff2") format("woff2"),
    url("/fonts/AvenirNext-DemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}

/* Avenir Next - Heavy */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Heavy.woff2") format("woff2"), url("/fonts/AvenirNext-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-HeavyItalic.woff2") format("woff2"), url("/fonts/AvenirNext-HeavyItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: block;
}

/* Avenir Next - Italic / Regular */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Regular.woff2") format("woff2"), url("/fonts/AvenirNext-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Italic.woff2") format("woff2"), url("/fonts/AvenirNext-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

/* Avenir Next - Medium */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Medium.woff2") format("woff2"), url("/fonts/AvenirNext-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-MediumItalic.woff2") format("woff2"), url("/fonts/AvenirNext-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}

/* Avenir Next - UltraLight */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-UltraLight.woff2") format("woff2"), url("/fonts/AvenirNext-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-UltraLightItalic.woff2") format("woff2"),
    url("/fonts/AvenirNext-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: block;
}

$font-default: "Avenir Next", sans-serif;

/* Headline/H1 */
$h1-fs: 72;
$h1-lh: 80;
$h1-ls: -2.88;
/* Headline/H2 */
$h2-fs: 44;
$h2-lh: 52;
$h2-ls: -1.76;
/* Headline/H3 */
$h3-fs: 27;
$h3-lh: 35;
$h3-ls: 0.54;

/* Subtítulo/S1 */
$s1-fs: 32;
$s1-lh: 40;

/* Body/Body 1 */
$b1-fs: 16;
$b1-lh: 24;
/* Body/Body 2 */
$b2-fs: 14;
$b2-lh: 20;
/* Body/Body 3 */
$b3-fs: 12;
$b3-lh: 20;
$b3-ls: 0.36;

/* Button/Medium */
$l1-fs: 14;
$l1-lh: 20;
/* Button/Small */
$l2-fs: 12;
$l2-lh: 20;
