.whatsApp {
    position: fixed;
    z-index: 10;
    @include resize(right, 56, 32);
    @include resize(bottom, 56, 32);
    &__imgContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: #25d366;
        transition: 0.3s ease-in-out;
        transform: scale(1);
        animation-play-state: running;
        animation: whatsapp infinite 1s linear alternate;
        @include resize(padding, 8);
        @include resize(max-width, 48);
        @include resize(min-width, 48);
        @keyframes whatsapp {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.2);
            }
        }
        &:hover {
            animation-play-state: paused;
            transition: 0.3s ease-in-out;
            scale: 1.2;
        }
    }
    &__imgEmphasis {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__container {
    }
}
