.videoClickPlay {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  @include resize(border-radius, 4);

  &:before {
    content: "";
    transition: 0.25s ease-in;
    position: absolute;
    background-color: $color-black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    @include resize(width, 110);
    @include resize(height, 64);
    background-image: url("/assets/img/components/card-depoimento/play.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 350ms ease-in-out;
    z-index: 5;
  }

  &:hover {
    &:after {
      transition: all 350ms ease-in-out;
      background-image: url("/assets/img/components/card-depoimento/play-hover.svg");
    }
  }

  &__emphasis {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.active {
    &:before {
      opacity: 0;
      transition: 0.25s ease-out;
    }

    &:after {
      content: none;
    }
  }
}
