.cardDefault {
    @include resize(width, 100%);
    display: flex;
    @include resize(gap, 42);
    @include resize(padding, 32);
    @include resize(border-radius, 8);
    border: 1px solid #FFE572;
    background: #671D1B;

    @include res-md {
        @include resize(flex-direction, column);
        @include resize(gap, 16);
    }

    &__title {
        @include resize(font-size, 24,16);
        @include resize(font-weight, 700);
        @include resize(line-height, 40, 24);
        color: #fff;
    }
    
    &__description {
        @include resize(font-size, 14);
        @include resize(font-weight, 400);
        @include resize(line-height, 26);
        @include resize(letter-spacing, 0);
        color: #fff;

        @include res-md {
            @include resize(height, 120);
        }
    }

    &__image {
        @include resize(width, 50%, 100%);
        @include resize(height, 100%);
        @include resize(border-radius, 8);
        object-position: center;
        object-fit: cover;

        & img {
            @include resize(width, 100%);
            @include resize(height, 100%);
            @include resize(border-radius, 8);
            object-position: center;
            object-fit: cover;
        }
    }

    &__button {
        background: #D10000;
        font-weight: 600 !important;
        @include resize(padding-inline, 32,16);
        @include resize(line-height, 20);
        @include resize(max-width, 169, 100%);
        @include resize(height, 40);
        @include resize(margin-top, 25, 16);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        z-index: 1;

        & span {
            font-weight: 400;
            @include resize(font-size, 14);
            @include resize(line-height, 20);
            text-transform: uppercase            
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 30px;
            @include resize(height, 100%);
            display: block;
            background-image: url('/assets/btn-hover.webp');
            background-repeat: no-repeat;
            background-position: bottom;
            transition: 0.3s ease-in-out;
            z-index: 0;
            transform: translateY(50px);
        } 

        &::after {
            @include resize(bottom, 0);
            @include resize(left, 0);
        }

        &::before {
            @include resize(top, 0);
            @include resize(right, 0);
            transform: rotate(-180deg) translateY(50px);
        }

        &:hover::after {
            transform: translateY(0);
        }

        &:hover::before {
            transform: rotate(-180deg) translateY(0);
        }

    }

    &__content {
        @include resize(width, 50%, 100%);
        display: flex;
        @include resize(flex-direction, column);
        @include resize(justify-content, center);
        @include resize(gap, 8);
    }
}