.inputFile {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 100%;
  @include resize(gap, 4);
  @include resize(max-width, 570);
  &__element {
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 1px solid $color-gray-400;
    @include resize(border-radius, 4);
    @include resize(padding-block, 7);
    @include resize(padding-inline, 8);
    background-color: rgba($color-gray-100, 0.2);

    &:focus,
    &:hover {
      border-color: $color-primary-100;
    }
    &[type="file" i]::-webkit-file-upload-button {
      font-family: $font-default;
      font-weight: 400;
      background-color: $color-primary-100;
      color: $color-white;
      border: none;
      @include resize(right, 12);
      @include resize(font-size, $b1-fs);
      @include resize(border-radius, 4);
      @include resize(padding-block, 6);
      @include resize(padding-inline, 12);
    }
  }
  &__label {
    font-family: $font-default;
    font-weight: 700;
    cursor: pointer;
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
    @include resize(max-width, 533);
    &--invalid {
      color: $color-error;
    }
    &:focus,
    &:hover {
      color: $color-primary-100;
    }
  }
  &__helpText {
    width: 100%;
    @include resize(max-width, 533);
    color: $color-error;
    font-family: $font-default;
    @include resize(font-size, $b2-fs);
    @include resize(line-height, $b2-lh);
  }
  &--invalid {
    .inputFile__element {
      border-color: $color-error;
    }
  }
}
