.acceptanceCookies {
    overflow: hidden;
    position: sticky;
    z-index: 20;
    bottom: -2px;
    width: 100%;
    max-height: 0;
    transition: 0.3s ease-in-out;

    &--active {
        display: flex;
        pointer-events: auto;
        transition: 0.3s ease-in-out;
        max-height: 40vh;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: $color-primary-200;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3);

        @include resize(gap, 32, 16);
        @include resize(padding-block, 16);
        @include resize(padding-inline, 48, 16);

        @include resize(flex-direction, row, column);
        @include resize(justify-content, space-between, flex-start);

        .buttonDefault {
            @include resize(max-width, 320, unset);
        }
    }

    &__description {
        font-weight: 400;
        color: $color-gray-500;
        @include resize(font-size, $b1-fs, $b2-fs);
        @include resize(line-height, $b1-lh, $b2-lh);
        @include lineclamp(3);

        a {
            white-space: nowrap;
        }
    }
}
