$qtdCard: 3;

.participate {
    @include resize(padding-top, 60, 40);
    @include resize(padding-bottom, 100, 100);
    @include resize(padding-inline, 0, 15);
    position: relative;

    &__card_description {
        position: relative;
        display: flex !important;
        align-items: center;
        gap: 28px;
        & p {
            color: #fff;
            font-weight: 600;
            @include resize(font-size, 16, 14);
            @include resize(line-height, 130%);
            @include resize(line-height, 130%);
        }

        &::before {
            content: attr(data-count);
            position: relative;
            @include resize(font-size, 40);
            @include resize(line-height, 100%);
            font-weight: 700;
            z-index: 1;
            background: linear-gradient(180deg, #ffe572 15.91%, #ffd13c 57.73%, #ffe572 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 38px;
            width: 1px;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgb(255, 229, 114, 0.3) 15.91%,
                rgb(255, 209, 60, 0.3) 57.73%,
                rgb(255, 229, 114, 0.3) 100%
            );
        }
    }

    &__cardContainer {
        @include resize(margin-bottom, 40, 20);
        @include resize(width, fit-content, 100%);
        @include resize(margin-inline, auto);
        display: grid;
        @include resize(grid-template-columns, repeat(3, 1fr), repeat(1, 1fr));
        @include resize(gap, 18, 30);
    }

    &__cardFixed {
        background: linear-gradient(90deg, #7c2622 0%, #952e29 100%);
        position: relative;
        @include resize(width, 100%);
        @include resize(max-width, 280);
        @include resize(margin-inline, auto);
        @include resize(padding-top, 40);
        @include resize(padding-bottom, 32);
        @include resize(padding-inline, 35);
        border-radius: 20px 0 20px 0;
        outline: 1px solid #fff;
        border: 8px solid #000;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
        transition: 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(100px);
        transition:
            opacity 0.6s,
            transform 0.6s ease-out;

        &::after {
            content: "";
            display: block;
            @include resize(width, 100%);
            @include resize(height, 76);
            position: absolute;
            top: -25px;
            left: 0;
            z-index: 1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url("/assets/festao-sino.webp");
            transform: scale(0.4);
            opacity: 0;
            transition: 0.5s;
        }

        @include res-sm {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__titleContainer {
        display: flex;
        flex-direction: column;
        @include max-width(766);
        @include resize(margin-inline, auto);
        @include resize(margin-bottom, 40, 25);
        @include resize(gap, 8);
    }
    &__title {
        text-align: center;
        font-weight: 700;
        background: linear-gradient(180deg, #ffe572 15.91%, #ffd13c 57.73%, #ffe572 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateY(-150px) scale(0.9);
        transition-delay: 0.5s;
        opacity: 0;
        transition:
            opacity 0.6s ease 0.35s,
            transform 0.6s ease 0.35s;
        @include resize(font-size, 40, 24);
        @include resize(line-height, 50, 32);
        @include res-md {
            transform: translateY(0) scale(1);
        }
    }
    &__description {
        text-align: center;
        color: #ffffff;
        font-weight: 400;
        transform: scale(0.95);
        transition-delay: 1.35s;
        transition:
            opacity 0.4s ease 1s,
            transform 0.6s ease 1s;
        @include resize(font-size, 18, 16);
        @include resize(line-height, 32, 24);
        @include res-md {
            transform: scale(1);
            text-wrap: balance;
            text-wrap-style: balance;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        @include max-width(1266);
        @include resize(flex-direction, column);
        @include resize(margin-inline, auto);
    }

    &.active {
        .participate__cardFixed {
            opacity: 1;
            transform: translateY(0);
        }

        @for $i from 1 through $qtdCard {
            .participate__cardFixed:nth-child(#{$i}) {
                transition-delay: $i * 0.35s;
            }
        }

        @for $i from 1 through $qtdCard {
            .participate__cardFixed:nth-child(#{$i})::after {
                transition-delay: ($i * 0.65s) + 0.2s;
                transform: scale(1);
                opacity: 1;
            }
        }

        .participate__title {
            opacity: 1;
            transform: translateY(0) scale(1);
        }

        .participate__description {
            opacity: 1;
            transform: scale(1);
        }
    }
}
