.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;

  &--top {
    top: 0;
    backdrop-filter: blur(0);
    transition: top 0.25s ease-in-out;
  }

  &--up {
    top: 0;
    backdrop-filter: blur(10px);
    transition: top 0.25s ease-in-out;

    @include res-md {
      backdrop-filter: unset;
    }
  }

  &--down {
    top: -100%;
    backdrop-filter: blur(10px);
    transition: top 0.25s ease-in-out;

    @include res-md {
      backdrop-filter: unset;
    }
  }

  &--active ~ .overlay {
    display: none;

    @include res-md {
      content: "";
      position: fixed;
      display: block;
      z-index: 9;
      inset: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(2px);
      background-color: rgba($color-black, 0.3);
      transition: 0.25s ease-in-out;
    }
  }

  &:has(~ #home) {
    animation: show-down 0.75s ease-in-out both;
  }

  @keyframes show-down {
    0% {
      opacity: 0;
      transform: translateY(-80%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
