.modalCenter {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  animation: fadeOut 350ms ease-out forwards;
  z-index: 100;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: backgroundFadeOut 350ms ease-out forwards;
  }

  &--active {
    pointer-events: all;
    z-index: 10;
    animation: fadeIn 350ms ease-in-out forwards;

    &::before {
      animation: backgroundFadeIn 350ms ease-in-out forwards;
    }
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #822724;
    animation: modalScaleOut 350ms ease-in forwards;
    border-radius: 8px;
    @include resize(max-width, 600, 100%);
    @include resize(box-shadow, 0 4px 8px rgba(0, 0, 0, 0.1));
    &--active {
      animation: modalScaleIn 350ms ease-in forwards;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include resize(padding, 24);
  }

  &__description {
    @include resize(margin-top, 16);
    @include resize(font-size, 16, 14);
    @include resize(line-height, 24, 20);
    color: #ffffff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include resize(gap, 16);
    @include resize(min-width, 320);
  }

  &__title {
    font-weight: 700;
    color: #ffd343;
    @include resize(font-size, 27, 18);
    @include resize(line-height, 34, 26);
  }

  &__titleDefault {
    font-weight: 400;
    @include resize(font-size, $h2-fs);
    @include resize(line-height, $h2-lh);
  }

  &__buttonClose {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 240px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    @include resize(padding, 6);
    @include resize(width, 32);
    @include resize(height, 32);

    &:after {
      content: "";
      position: relative;
      width: 100%;
      height: 100%;
      background: url("/icons/close.svg") no-repeat center;
      background-size: contain;
    }

    &:hover {
      border-color: #ffd343;
    }

    &:focus-visible {
      outline: 2px solid #ffd343;
      outline-offset: 2px;
    }
  }
  // Keyframes for animations
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      z-index: 10;
    }
    to {
      opacity: 0;
      z-index: 0;
    }
  }
  @keyframes backgroundFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes backgroundFadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes modalScaleIn {
    from {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  @keyframes modalScaleOut {
    from {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
    }
  }
}
