.happening {
    @include resize(padding-top, 174, 60);
    position: relative;

    &::after {
        content: '';
        @include resize(width,100%);
        @include resize(height, 200, 65);
        background-image: url('/assets/faixa-natal.webp');
        display: block;
        position: absolute;
        @include resize(top, -60, -30);
        @include resize(left, 0);
        z-index: 1;
        background-position: center center;
        background-size: contain;
    }

    &__title {
        text-align: center;
        @include resize(font-size, 40, 24);
        @include resize(line-height, 50, 32);
        font-weight: 700;
        background: linear-gradient(180deg, #FFE572 15.91%, #FFD13C 57.73%, #FFE572 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}