.banner {
    position: sticky;
    z-index: 0;
    overflow-x: clip;
    @include resize(top, -100, -20);
    @include resize(padding-top, 76, 0);
    @include resize(padding-bottom, 76, 0);
    @include resize(height, auto, 670);
    @include resize(
        background-image,
        url("/images/banner-natal-homepage.webp"),
        url("/images/banner-natal-homepage-mobile.webp")
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    }

    &__grid {
        display: grid;
        @include resize(grid-template-columns, 1fr 1fr, 1fr);
    }

    &__titlePage {
        @include resize(width, 632, 100%);
        @include resize(height, 333, 100%);
    }

    &__logo {
        position: relative;
        @include resize(width, 270, 151);
        @include resize(height, 61, 47);
        @include resize(top, -45, -20);
        @include resize(right, 30, 0);
    }

    &__listImages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__imgPresent {
        position: relative;
        @include resize(width, 356, 224);
        @include resize(height, 126, 79);
        @include resize(top, -40, -20);
        @include resize(left, -20, -10);
    }

    &__container {
        overflow: hidden;
        @include resize(width, 100%);
        @include max-width(1466);
        @include resize(margin-inline, auto);
    }

    &__ornamentsContainer {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 56/39;
        mix-blend-mode: plus-lighter;
        @include resize(width, 280);
        @include resize(height, 195);
        &--2 {
            left: unset;
            right: 0;
            aspect-ratio: 155/97;
            @include resize(width, 310);
            @include resize(height, 194);
        }
        @include res-md {
            display: none;
        }
    }
    &__giftContainer {
        pointer-events: none;
        position: absolute;
        aspect-ratio: 103/100;
        animation: floating 3s ease-in-out infinite;
        @include resize(width, 103);
        @include resize(height, 100);
        @include resize(bottom, 64);
        @include resize(left, -32);
        &--2 {
            left: unset;
            @include resize(right, -32);
            @include resize(bottom, 224);
        }
        @include res-md {
            display: none;
        }
    }
    &__ornaments,
    &__gift {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
