.imgDefault {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & picture {
    width: 100%;
    height: 100%;
    display: contents;
  }

  &__img {
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &--imgLoaded {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }
  }

  &__skeleton {
    overflow: hidden;
    position: absolute;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-color: transparent;

    &--imgLoaded {
      opacity: 0;
      transition: opacity 300ms ease-in;
    }

    &::after {
      content: "";
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, $color-primary-100 33%, $color-secondary-100 66%, $color-primary-100 100%);
      background-size: 200% 100%;
      animation: loadingSkeleton 1.5s infinite;
    }
  }
}
