@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes easeOut {
  0% {
    opacity: 1;
  }
  100% {
    @keyframes easeIn {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
    @keyframes easeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes animaRotate {
      0% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    @-webkit-keyframes animaRotate {
      100% {
        transform: rotate(0deg);
      }
    }

    @keyframes slideInRight {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes midSlideY {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(30%);
      }
      100% {
        transform: translateY(0);
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
      }

      100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
    opacity: 0;
  }
}

@keyframes animaRotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes animaRotate {
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes midSlideY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes loadingSkeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0px);
  }
}
