// Primary
$color-primary-100: #a5191e;
$color-primary-200: #d22e34;
// Secondary
$color-secondary-100: #fecb1e;
$color-secondary-200: #fed33f;
// Tertiary
$color-tertiary-100: #14b03b;

// Default
$color-black: #000;
$color-white: #fff;

// Grays
$color-gray-100: #1b1913;
$color-gray-200: #757575;
$color-gray-300: #d0d0d0;
$color-gray-400: #f7f4f4;
$color-gray-500: #ffffff;
$color-gray-600: #ffffff;
$color-gray-700: #ffffff;
$color-gray-800: #ffffff;
$color-gray-900: #ffffff;

// Focus
$color-focus: #0171e3;

// Error
$color-error: #d22e34;
