@use "@/scss/theme/colors.scss" as *;

.off-scroll {
  overflow: hidden;
}

body {
  background-color: #20170e;
}

// ::-webkit-scrollbar {
//   width: 10px; /* Largura do scrollbar */
// }

// ::-webkit-scrollbar-button {
//   display: none; /* Remove o botão do scrollbar */
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $color-primary; /* Cor do thumb */
//   border-radius: 10px; /* Bordas do thumb */
//   border: 3px solid transparent; /* Espaço ao redor do thumb */
//   background-clip: content-box; /* Faz com que o thumb pareça menor */
// }

// ::-webkit-scrollbar-track {
//   background: transparent; /* Faz o track ser transparente */
// }

// @-moz-document url-prefix() {
//   * {
//     scrollbar-width: thin; /* Reduce scrollbar width */
//     scrollbar-color: $color-primary transparent; /* Thumb and track color */
//   }
// }
