// Border radius variables
$border-radius: 8px;

// Button
$button-gap: 8;
$button-padding-block: 16;
$button-padding-inline: 24;
$button-border-radius: 4px;

// Input
$input-gap: 8;
$input-padding-block: 12;
$input-padding-inline: 16;
$input-border-radius: 8px;
