.offers {
  position: sticky;
  @include resize(top, -50,-10);
  background-color: #20170E;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('/assets/background-offers.webp');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  @include resize(padding-inline, 144, 16);
  @include resize(padding-top, 100);
  @include resize(padding-bottom, 200);

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    @include max-width(986);
    @include resize(flex-direction, row, column);
    @include resize(gap, 20, 40);
  }


  &__infoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include resize(gap, 32, 16);
    @include resize(max-width, 444, 100%);

    @include res-md {
      align-items: center;
    }
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    @include resize(gap,21);
  }

  &__text {
    @include resize(font-size, 40, 24);
    @include resize(line-height, 50, 32);
    color: #fff;
    font-weight: 500;
    @include resize(text-align, left, center);
    background: linear-gradient(180deg, #FFE572 15.91%, #FFD13C 57.73%, #FFE572 100%);
    background-clip: text;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__highlight {
    font-weight: 700;
    background: linear-gradient(180deg, #FFE572 15.91%, #FFD13C 57.73%, #FFE572 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include resize(font-size, 24);
    @include resize(line-height, 100%);

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  .buttonLink { 
    cursor: pointer;
    @include resize(width, 100%);
    @include resize(max-width, 169,100%);
    background: #D10000;
    @include resize(padding-inline, 32,16);
    @include resize(line-height, 20);
    @include resize(height, 40);
    @include resize(margin-top, 25, 16);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;

    & span {
      @include resize(font-size, 14);
      @include resize(line-height, 20);
      text-transform: uppercase;
      font-weight: 500;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      @include resize(height, 100%);
      display: block;
      background-image: url('/assets/btn-hover.webp');
      background-repeat: no-repeat;
      background-position: bottom;
      transition: 0.3s ease-in-out;
      z-index: 0;
      transform: translateY(50px);
    }

    &::after {
      @include resize(bottom, 0);
      @include resize(left, 0);
    }

    &::before {
      @include resize(top, 0);
      @include resize(right, 0);
      transform: rotate(-180deg) translateY(50px);
    }

    &:hover::after {
      transform: translateY(0);
    }

    &:hover::before {
      transform: rotate(-180deg) translateY(0);
    }
  }

  &__imgContainer {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@keyframes revealText {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}